@import url(../../index.scss);

.info {
    min-height: 45vh;
    height: auto;
    background-color: black;
    position: relative;
    display: flex;
    align-items: end;
    .infoBox {
        height: 30vh;
        background: var(--primary);
        display: flex;
        width: 100%;
    }
    img {
        position: absolute;
        width: 700px;
        right: 0;
        top: -20px;
    }
}