@import url(../../index.scss);

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    min-height: 90vh;

    h1 {
        font-size: 3vw;
        text-align: center;
        padding: 20px 0 55px 0;
        color: var(--white);
        width: 90%;
    }

    .teamBox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
        overflow-x: scroll;
        align-items: flex-start;
        width: 90vw;
        height: 100%;
        grid-auto-flow: column;
        padding-bottom: 40px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

.member {
    border: 1px solid var(--primary);
    color: var(--white);
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    position: relative;
    margin: 10px;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    a {
        display: none;

        img {
            display: none;
        }
    }

    h2 {
        width: 100%;
        margin: 15px 0;
        text-align: center;
    }

    p {
        width: 100%;
        margin: 5px 0;
        text-align: center;
        font-size: 18px;
    }

    &:hover {

        border: none;

        img {
            width: 300px !important;
            height: 400px !important;
            position: absolute;
            border-radius: 0;
            transition: all ease 400ms;
            border-radius: 16px;
        }

        a {
            display: flex;
            position: absolute;
            padding: 20px 25px;
            background: linear-gradient(121deg, #252525 0%, rgba(37, 37, 37, 0.00) 100%);
            border-radius: 10px 0 0 10px;
            right: 0;
            bottom: 30px;
            align-items: center;
            justify-content: center;
            transition: all ease 400ms;

            img {
                display: block;
                width: 20px !important;
                height: 20px !important;
                border-radius: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .team {
        min-height: 80vh;

        h1 {
            font-size: 24px;
            height: auto;
            padding: 0;
            margin: 10px 0 50px 0;
        }

        .teamBox {
            width: 100%;
            padding: 20px 0;
            gap: 2px;
        }
    }

    .member {
        width: 260px !important;
        margin: 0 20px;
        gap: 2px;
        img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 50%;
        }

        a {
            display: none;

            img {
                display: none;
            }
        }

        h2 {
            width: 100%;
            margin: 15px 0;
            text-align: center;
            font-size: 18px;
        }

        p {
            width: 100%;
            margin: 5px 0;
            text-align: center;
            font-size: 15px;
        }

        &:hover {

            border: none;

            img {
                width: 260px !important;
                height: 400px !important;
                position: absolute;
                border-radius: 0;
                transition: all ease 400ms;
                border-radius: 16px;
            }

            a {
                display: flex;
                position: absolute;
                padding: 20px 25px;
                background: linear-gradient(121deg, #252525 0%, rgba(37, 37, 37, 0.00) 100%);
                border-radius: 10px 0 0 10px;
                right: 0;
                bottom: 30px;
                align-items: center;
                justify-content: center;
                transition: all ease 400ms;

                img {
                    display: block;
                    width: 20px !important;
                    height: 20px !important;
                    border-radius: 0;
                }
            }
        }
    }
}