.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 50px;
    height: 10vh;
    .left {
        flex: 1;
        img {
            width: auto;
            height: 50px;
            margin-right: 10px;
        }
    }
    .menu {
        display: flex;
        flex: 2;
        ul {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            li {
                list-style: none;
                margin: 10px;
            }
        }
    }
    .right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}