@import url(../../index.scss);

.whyus {
    min-height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;

    h2 {
        font-size: 3.1vw;
    }

    p {
        font-size: 16px;
        width: 42vw;
        text-align: center;
    }

    .whyusBox {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
    }
}

.why {
    display: flex;
    align-items: center;
    justify-content: center;
    .whyImg {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }
    .whyContent {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        padding: 0 20px;
        width: 80%;
        h3 {
            font-size: 1.5vw;
            font-weight: 500;
            margin: 10px 0;
        }
        p {
            font-size: 0.9vw;
            text-align: left;
            width: auto;
        }
    }
}