@import url(../../index.scss);

.whyus {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    h2 {
        font-size: 3.1vw;
        color: #111;
        margin: 156px 0 32px 0;
    }

    p {
        font-size: 16px;
        width: 42vw;
        text-align: center;
    }

    .whyusBox {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        align-items: center;
        justify-content: center;
        padding: 40px 0 80px 0;
    }
}

.why {
    display: flex;
    align-items: center;
    justify-content: center;
    .whyImg {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }
    .whyContent {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        width: 80%;
        h3 {
            font-size: 1.5vw;
            font-weight: 500;
            margin: 10px 0;
        }
        p {
            font-size: 0.9vw;
            text-align: left;
            width: auto;
        }
    }
}


@media screen and (max-width: 768px) {
    .whyus {
        h2 {
            font-size: 24px;
            margin: 64px 0 24px 0;
        }
        p {
            font-size: 14px;
            width: 90%;
            margin: 10px 0;
        }
        .whyusBox {
            width: 100%;
            padding: 20px 0;
        }
    }
    .why {
        flex-direction: column;
        width: 90% !important;
        margin: 20px 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        height: auto !important;
        padding: 20px 0;
        .whyImg {
            padding: 30px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        .whyContent {
            width: 100%;
            padding: 10px;
            align-items: center;
            justify-content: center;
            h3 {
                font-size: 20px;
                text-align: center;
                margin: 5px 0;
            }
            p {
                font-size: 14px;
                text-align: center;
                margin: 10px 0;
                width: 90%;
            }
        }
    }
}