@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary: #F26600;
$secondary: #252525;
$white: #FFFFFF;
$gray: #EEF5F9;


:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --white: #{$white};
  --gray: #{$gray};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, "Arial";
  scroll-behavior: smooth;
  // border: 1px solid red;
}

a {
  text-decoration: none;
  color: inherit;
}


html {
  background: #fff;
}